
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-button {
    border-radius: 0;
}

.el-button--primary.is-plain {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    border-color: $--color-primary;
}

.isMobile {
    .el-button--primary.is-plain {
        font-size: 14px;
    }
}

.OurTechItem-container {
    .is-active {
        color: #fff !important;
    }
}
